#second_div {
  margin-right: 610px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 500px;
  height: 800px;
}

.clock_div {
  height: 200px;
  padding-top: 225px;
  margin: 0px 0px;
}
.clock {
  font-size: 110px;
  color: white;
}

.sayhello {
  display: block;
  margin: 0px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 40px;
  color: white;
}

.weather {
  font-size: 27px;
  color: white;
}

.completed {
  opacity: 0.7;
}

.bookmark {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  width: 330px;
  height: 140px;
  padding: 10px 0px;
  border-radius: 10px;
}

.first-row img,
.second-row img {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  margin: 0px 10px;
}

a {
  text-decoration-line: none;
}

.date {
  color: white;
  margin: 0px;
}
